<h1>Places I've Been</h1>

        <% for place in @places %>
            <a href="/places/<%=place.id%>"><%= place.name %></a>
            <br><br>
        <% end %>
    </ul>

<br><br><br>
<a href="/places/new">New Place</a>